* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2vw;
}

body {
  background: #333;
  color: white;
  font-family: -apple-system, blinkmacsystemfont, 'segoe ui', sans-serif;
  line-height: 1.5em;
}

#meta {
  border-bottom: 1px solid #fff;
  padding: 1.25em 2em 1em;
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

main {
  display: flex;
}

section {
  position: absolute;
  padding: 2em;
  width: 100vw;
  height: calc(100vh - 3.5em);
}

h3 {
  font-size: 1.5em;
  margin: 0 0 2rem;
  line-height: 1;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #fff;
}

tr+tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

th,
td {
  text-align: left;
  padding: 0.5em 0;
}

.route,
.stop {
  border: 3px solid white;
  margin: 0 0.5rem 0 0;
  padding: 0.2rem 0.4rem;
  font-size: .75em;
  border-radius: 0.2rem;
  font-weight: bold;
}

.stop {
  margin: 0 0 0 .4rem;
  font-weight: 400;
  border: 1px solid white;
}

#lunch ul {
  list-style: none;
  max-height: 60vh;
  overflow-y: auto;
}

#lunch ul li+li {
  margin-top: 1em;
}

main p + p {
  margin-top: 1em;
}
