* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

html {
  font-size: 100%;
}

body {
  font-family: -apple-system, blinkmacsystemfont, 'segoe ui', sans-serif;
  line-height: 1.5em;
  background: #fff;
  color: #000;
}

#show-menu {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  overflow: hidden;
}

#show-menu-label {
  display: block;
  position: absolute;
  padding: 1em;
  right: 0;
  z-index: 2;
  font-weight: bold;
  cursor: pointer;
}

#show-menu:checked~#show-menu-label {
  color: #fff;
}

#show-menu-label::after {
  content: "\02261";
  display: block;
  float: left;
  margin-right: 0.5em;
}

#show-menu:checked~#show-menu-label::after {
  content: "\000d7";
}

#menu {
  position: absolute;
  background: #333;
  color: #fff;
  z-index: 1;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: none;
}

#show-menu:checked~#show-menu-label~#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu img {
  display: block;
  height: 3em;
  width: auto;
  margin: 0 auto 1em;
}

#menu #campus {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#menu ul {
  margin: 4em 0 0;
  list-style: none;
}

#menu ul li a {
  padding: 0.5em 0;
  display: block;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

#menu ul li#settings::before {
  content: " ";
  display: block;
  margin: 1.5em auto;
  border-top: 0.1em solid #fff;
  width: 1em;
}

main h2 {
  background: #eee;
  padding: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

section {
  padding: 1em;
}

section header {
  padding: 1em;
  margin: -1em -1em 1em;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

section img {
  max-width: 100%;
  height: auto;
  display: block;
}

.sections-nav {
  display: flex;
}

.sections-nav button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  background: inherit;
  border: inherit;
  border-left: 1px solid #eee;
  display: block;
  margin: -1em 0;
  padding: 1em;
  cursor: pointer;
}

.sections-nav button+button {
  margin-right: -1em;
}

#lunch ul {
  list-style: none;
}

#lunch ul li + li {
  margin-top: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr+tr {
  border-bottom: 1px solid #eee;
}

th,
td {
  vertical-align: top;
  text-align: left;
  padding: 0.5em 0;
}

th+th,td+td {
  padding-left: 1em;
}

#tiedote p {
  margin: 1em 0;
}

@media all and (min-width: 1024px) {
  body {
    display: flex;
  }

  #show-menu,
  #show-menu-label {
    display: none;
  }

  #menu {
    position: static;
    display: block;
    width: auto;
    padding: 3em;
  }

  main {
    border: 1px solid #eee;
    margin: 3em;
    width: 36em;
  }
}
